<div class="providers">
    <div class="summary-card">
      <div class="summary-header">
        <span class="summary-title"><mat-icon>attach_money</mat-icon> Gestión de Proveedores</span>
        <!-- <span class="summary-date"><mat-icon>calendar_today</mat-icon> {{ today | date:'d/M/yyyy' }}</span> -->
      </div>
      <div class="summary-content">
        <div class="summary-item">
          <div class="item-title">Ganancia Neta</div>
          <div class="item-value net">S/ 18</div>
          <!-- <mat-icon class="item-icon">trending_up</mat-icon> -->
        </div>
        <div class="summary-item">
          <div class="item-title">Ventas Totales</div>
          <div class="item-value">S/ 18</div>
          <!-- <div class="item-sub">Margen: {{ margin | percent:'1.1-1' }}</div> -->
        </div>
        <div class="summary-item">
          <div class="item-title">Ventas Realizadas</div>
          <div class="item-value">18</div>
          <!-- <div class="item-sub">Promedio: S/ {{ avgSale | number:'1.2-2' }}</div> -->
        </div>
      </div>
    </div>

</div>